<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- SQL directa (opcional para pruebas) -->
		<add name="DefaultSql" connectionString="Data Source=DESKTOP-IJNOIL9;Initial Catalog=LenguajeProgrmacion;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />

		<!-- Conexión para EF6 (se debe llamar igual que el contexto que generes) --><add name="LenguajePrgramacionEntities" connectionString="metadata=res://*/DATA.Model1.csdl|res://*/DATA.Model1.ssdl|res://*/DATA.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IJNOIL9;initial catalog=LenguajeProgrmacion;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="LenguajeProgrmacionEntities" connectionString="metadata=res://*/DATA.Model1.csdl|res://*/DATA.Model1.ssdl|res://*/DATA.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IJNOIL9;initial catalog=LenguajeProgrmacion;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
